<a href="https://colab.research.google.com/github/jashelish/joshellice_Elective1-2/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [1]:
if 2>5:
  print("5 is greater than 2")
else: 
  print("2 is less than 5")

2 is less than 5

In [2]:
x = 'Stella'
y = -4.56

print(x)
print(y)

Stella
-4.56

In [3]:
print(type(x))
print(type(y))

<class 'str'>
<class 'float'>